.left{
  padding-top: 7em;
} .right{
  padding-top: 8.2em;
}
nav li:nth-child(4) span{
  /* border-color: rgb(204, 0, 204); */
  border-color: var(--orange);
  width: 5em;
}
.left .btn{
  margin-top: 3.7625em;
}
nav{
  margin-top: 3.7625em;
}
form{
  width: 90%;
  height: 70vh;
  /* background-color: aqua; */
  margin: auto;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ins{
  font-size: 1.2em;
  background-color: transparent;
  border: 2.5px solid var(--black);
  border-radius: 2px;
}
input{
  padding: 1em;
}
textarea{
  padding: 1em;
  width: 100%;
  height: 35vh;
}
.submit{
  width: 100%;
  position: relative;
}
.submit .back{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 4.65em;
  background-color: transparent;
  border: 2.5px solid var(--black);
  top: 1em;
  left: 1em;
  /* transition: 0.3s ease-in; */
  border-radius: 2px;
}
.submit:hover > input{
  background-color: transparent;
  color: var(--orange);
  cursor: pointer;
}
.submit:hover > .back{
  top: 0;
  left: 0;
  border-color: var(--orange);
}
input[type=submit]{
  width: 100%;
  background-color: var(--orange);
  color: white;
  border: 0;
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: 'Segoe UI SemiBold', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2px;
}