.left{
  padding-top: 4em;
} .right{
  padding-top: 5.2em;
}
nav li:nth-child(2) span{
  /* border-color: rgb(204, 0, 204); */
  border-color: var(--second-color);
  width: 5em;
}
.left .btn{
  margin-top: 3.7625em;
}
nav{
  margin-top: 3.7625em;
}
.block{
  width: 70%;
  height: fit-content;
  /* background-color: black; */
  margin: auto;
  display: grid;
  grid-template-columns: 43% 43%;
  justify-content: space-between;
}
.blocks{
  height: 13vh;
  background-color: white;
  margin-bottom: 2em;
  box-shadow: 0px 2.5px 4.5px rgba(255, 165, 0, 0.255);
  /* box-shadow: inset 0px -2px 5px -1px rgba(255, 165, 0, 0.25); */
  transition: 0.3s ease-in;
  display: flex;
  padding-left: 2em;
}
.blocks:hover{
  /* box-shadow: inset 0px 0px 5px 1px rgba(247, 0, 255, 0.5);  */
  box-shadow: inset 0px -5px .4px -1px rgba(255, 165, 0, 0.25);
  cursor: default;
  width: 95%;
  transform: translate(5px,5px);
}
.langs{
  width: fit-content;
  display: flex;
  /* margin: auto; */
  align-items: center;
}
.langs svg{
  width: 1.8em;
  aspect-ratio: 1/1;
}
.langs p{
  font-family: 'Segoe UI SemiBold', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  margin-left: .5em;
}