*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s ease-in;
}
:root{
  --primary-color: #A4A4A4;
  --orange: orange;
  --third-color: #1A1A1A;
  --fourth-color: #F2F2F2;
  --black: black;
  --white: white;

  /* --primary-color: #A4A4A4;
  --orange: orange;
  --fourth-color: #1A1A1A;
  --third-color: #F2F2F2;
  --white: black;
  --black: white; */

  /* orange: purple; */
  /* orange: rgb(214, 33, 33); */
}
body{
  position: relative;
  display: flex;
  background-color: var(--fourth-color);
  z-index: 0;
  /* color: ; */
}
.follower{
  position: absolute;
  width: 3em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--orange);
  filter: blur(30px);
  z-index: -1;
  transition: unset;
}
/* @keyframes moon{
  from{
      transform: translateY(0);
  }
  to{
    transform: translateY(-5px);
  }
} */
section{
  width: 50%;
  height: 100vh;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
li a{
  color: inherit;
}
.left{
  padding: 2.3125em 0 0 7em;
}
.left h1{
  font-size: 2.5em;
  color: var(--third-color);
}
.left h1:nth-child(1){
  color: var(--primary-color);
}
.left p{
  color: var(--primary-color);
  font-size: 1.6em;
  margin-top: 1.5em;
  width: 24.3125em;
}
.grey{
  font-family: 'Segoe UI SemiBold', Tahoma, Geneva, Verdana, sans-serif;
  /* color: #1A1A1A; */
  /* color: rgb(204, 0, 204); */
  color: var(--orange);
}
.left .btn{
  width: fit-content;
  position: relative;
  z-index: 0;
  margin-top: 1.7625em;
}
.left input{
  font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7em;
  color: var(--fourth-color);
  /* background-color: rgb(204, 0, 204); */
  background-color: var(--orange);
  border: 0;
  padding: 0.5em 1.5em 0.7em 1em;
  position: relative;
  z-index: 1;
  /* transition: 0.3s ease-in; */
  border-radius: 2px;
}
.left .back{
  z-index: -1;
  width: 14.19375em;
  height: 4.3398125em;
  background-color: transparent;
  border: 2.5px solid var(--third-color);
  position: absolute;
  top: 1em;
  left: 1em;
  /* transition: 0.3s ease-in; */
  border-radius: 2px;
}
.left .btn:hover > input{
  font-family: 'Segoe UI SemiBold', Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  /* color: rgb(204, 0, 204); */
  color: var(--orange);
}
.left .btn:hover > .back{
  /* border-color: rgb(204, 0, 204); */
  border-color: var(--orange);
  top: 0;
  left: 0;
}
nav{
  margin-top: 2.7625em;
  font-size: 1.6em;
  width: fit-content;
}
nav li{
  transition: 0.3s;
}
nav li:hover{
  transform: translate(3px,-5px);
}
nav li a{
  display: flex;
  align-items: center;
  color: var(--third-color);
  text-transform:uppercase;
}
nav span{
  display: inline-block;
  height: 0;
  width: 3em;
  border: 1.5px solid var(--black);
  margin-right: 1.5em;
  /* border-bottom: 2px; */
}
nav li:nth-child(2) span, nav li:nth-child(4) span{
  border: 2px solid var(--black);
}
nav li{
  margin: 0.3em 0;
}
.right{
  /* border: 0;
  border-left: 2px;
  border-color: #1A1A1A;
  border-style: solid; */
  padding: 3.5125em 0 0 3em;
  /* background-color: #1A1A1A; */
}